{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>Συνταγές</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- category post -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row pt-5">
          <div class="col-lg-4  col-md-6 col-sm-6 mb-6 category-col">
            <article class="text-center">
              <a href="/categories/κρέας">
                <img class="img-fluid mb-4 category-thumbnail" src="https://i.imgur.com/bgrL9fOm.jpg" alt="post-thumb">
              </a>
              <h5><a class="text-dark" href="/categories/κρέας">Κρέας</a></h5>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-6 category-col">
            <article class="text-center">
              <a href="/categories/ψάρια-θαλασσινά">
                <img class="img-fluid mb-4 category-thumbnail" src="https://i.imgur.com/uZJ5XZvm.jpg" alt="post-thumb">
              </a>
              <h5><a class="text-dark" href="/categories/ψάρια-θαλασσινά">Ψάρια & Θαλασσινά</a></h5>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-6 category-col">
            <article class="text-center">
              <a href="/categories/λαχανικά">
                <img class="img-fluid mb-4 category-thumbnail" src="https://i.imgur.com/H7KsQuTm.jpg" alt="post-thumb">
              </a>
              <h5><a class="text-dark" href="/categories/λαχανικά">Λαχανικά</a></h5>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-6 category-col">
            <article class="text-center">
              <a href="/categories/όσπρια">
                <img class="img-fluid mb-4 category-thumbnail" src="https://i.imgur.com/vJSESqvm.jpg" alt="post-thumb">
              </a>
              <h5><a class="text-dark" href="/categories/όσπρια">Όσπρια</a></h5>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-6 category-col">
            <article class="text-center">
              <a href="/categories/ζυμαρικά">
                <img class="img-fluid mb-4 category-thumbnail" src="https://i.imgur.com/XeBUNYym.jpg" alt="post-thumb">
              </a>
              <h5><a class="text-dark" href="/categories/ζυμαρικά">Ζυμαρικά</a></h5>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-6 category-col">
            <article class="text-center">
              <a href="/categories/γλυκά">
                <img class="img-fluid mb-4 category-thumbnail" src="https://i.imgur.com/OMSHX64m.jpg" alt="post-thumb">
              </a>
              <h5><a class="text-dark" href="/categories/γλυκά">Γλυκά</a></h5>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-6 category-col">
            <article class="text-center">
              <a href="/categories/ζύμες">
                <img class="img-fluid mb-4 category-thumbnail" src="https://i.imgur.com/t0sjDhkm.jpg" alt="post-thumb">
              </a>
              <h5><a class="text-dark" href="/categories/ζύμες">Ζύμες</a></h5>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- /category post -->

{{ end }}
